@model AmbientCollage.Models.Experience

@using (Html.BeginForm("CreateNewExperience", "Home"))
{
    <p>Experience Description: @Html.TextBoxFor(x => x.Description)</p>
    
    <fieldset>
        <legend>Music Details:</legend>
        <p>SoundCloud Track #: @Html.TextBoxFor(x => x.Foreground.LinkUrl)</p>
        <p>Description: @Html.TextBoxFor(x => x.Foreground.Description)</p>
    </fieldset>
    
    <fieldset>
        <legend>Background Sounds Details:</legend>
        <p>SoundCloud Track #: @Html.TextBoxFor(x => x.Background.LinkUrl)</p>
        <p>Description: @Html.TextBoxFor(x => x.Background.Description)</p>
    </fieldset>
    
    <fieldset>
        <legend>Image Details:</legend>
        <p>Image URL: @Html.TextBoxFor(x => x.Visuals.LinkUrl)</p>
        <p>Description: @Html.TextBoxFor(x => x.Visuals.Description)</p>
    </fieldset>
    
    <input type="submit" value="Create New Experience" />
}