@model AmbientCollage.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    
    .HiddenOnStart
    {
        display: none;
    }
    
    a.ActionLink
    {
        font-size: 1.2em;
        text-decoration: underline;
        color: #333;
        cursor: pointer;
    }
    
    a.ActionLink:hover
    {
        color: #33B;
    }
    
    #loginBox
    {
        
    }
    
    #signupBox
    {
        text-align: right;
    }

</style>

@section Title{
    Login or Signup!  (it's free)
}

@using (Html.BeginForm("ReturningUser", "Home", FormMethod.Post))
{
    <div id="loginBox" class="DisplayBox Left">
        <h2>Log in to your account</h2>
    
        <p>Email Address: @Html.TextBoxFor(m => m.Email)</p>
        <p>Password: @Html.PasswordFor(m => m.PasswordHash)</p>

        <input type="submit" value="Log In!"/>
    </div>
}

@using (Html.BeginForm("NewUser", "Home", FormMethod.Post))
{
    <div id="signupBox" class="DisplayBox Right">
        <h2>Create a new account</h2>
    
        <p>Email Address: @Html.TextBoxFor(m => m.Email)</p>
        <p>UserName: @Html.TextBoxFor(m => m.UserName)</p>
        <p>Password: @Html.PasswordFor(m => m.PasswordHash)</p>

        <input type="submit" value="Sign Up"/>
    </div>
}

